USE [master]
GO
/****** Object:  Database [LuxTravel]    Script Date: 10/17/2019 1:01:23 AM ******/
CREATE DATABASE [LuxTravel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuxTravel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LuxTravel.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LuxTravel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LuxTravel_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuxTravel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuxTravel]
GO
/****** Object:  Table [dbo].[Booking_Status]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Status](
	[id] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [uniqueidentifier] NOT NULL,
	[Hotel_Id] [uniqueidentifier] NOT NULL,
	[Guest_Id] [uniqueidentifier] NOT NULL,
	[Reservation_Id] [uniqueidentifier] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[ReservationId] [uniqueidentifier] NULL,
	[Status_Id] [int] NULL,
	[RoomCount] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_City_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CityDistrictMapping]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityDistrictMapping](
	[City_Id] [int] NOT NULL,
	[District_Id] [int] NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_City_District_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[City_Id] ASC,
	[District_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] NOT NULL,
	[DistrictName] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_District_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Guests]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Point] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[Url] [nvarchar](500) NULL,
	[Star_Rating_Id] [int] NOT NULL,
	[Location_Id] [int] NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] NOT NULL,
	[City_Id] [int] NULL,
	[Ward_Id] [int] NULL,
	[District_Id] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment_Status]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payment_Status](
	[Id] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payment_Types]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Types](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[Room_Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Payment] [nvarchar](500) NULL,
	[PaymentType_Id] [int] NULL,
	[PaymentStatus_Id] [int] NULL,
	[Amount] [money] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rate_Types]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rate_Types](
	[Id] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rates]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[Id] [uniqueidentifier] NOT NULL,
	[Room_Id] [uniqueidentifier] NOT NULL,
	[Rate] [money] NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[RateType_Id] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReservationAgents]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationAgents](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](500) NOT NULL,
	[LastName] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[ZipCode] [nvarchar](100) NULL,
	[Country] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room_Booked]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Booked](
	[Id] [uniqueidentifier] NOT NULL,
	[Booking_Id] [uniqueidentifier] NULL,
	[Room_Id] [uniqueidentifier] NULL,
	[Rate] [money] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Room_Booked] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room_Status]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room_Status](
	[Id] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Room_Types]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Types](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Standard_Price] [money] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Hotel_Id] [uniqueidentifier] NOT NULL,
	[Room_Type_Id] [int] NOT NULL,
	[Room_Floor] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Price] [money] NULL,
	[SettingId] [int] NULL,
	[Status_Id] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Gender] [bit] NULL,
	[Email] [nvarchar](100) NULL,
	[Manager_Id] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff_Rooms]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Rooms](
	[Id] [uniqueidentifier] NOT NULL,
	[Room_Id] [uniqueidentifier] NOT NULL,
	[Staff_Id] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Staff_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Star_Ratings]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Star_Ratings](
	[Id] [int] NOT NULL,
	[Image] [image] NOT NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ward]    Script Date: 10/17/2019 1:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[Id] [int] NOT NULL,
	[WardName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Ward_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[City] ([Id], [CityName], [IsActive], [IsDeleted]) VALUES (1, N'TPHCM', 1, 0)
INSERT [dbo].[City] ([Id], [CityName], [IsActive], [IsDeleted]) VALUES (2, N'Hà Nội', 1, 0)
INSERT [dbo].[City] ([Id], [CityName], [IsActive], [IsDeleted]) VALUES (3, N'Đà Nẵng', 1, 0)
INSERT [dbo].[CityDistrictMapping] ([City_Id], [District_Id], [IsActive], [IsDeleted]) VALUES (1, 1, 1, 0)
INSERT [dbo].[CityDistrictMapping] ([City_Id], [District_Id], [IsActive], [IsDeleted]) VALUES (1, 2, 1, 0)
INSERT [dbo].[CityDistrictMapping] ([City_Id], [District_Id], [IsActive], [IsDeleted]) VALUES (1, 3, 1, 0)
INSERT [dbo].[District] ([Id], [DistrictName], [IsActive], [IsDeleted]) VALUES (1, N'Quận 1', 1, 0)
INSERT [dbo].[District] ([Id], [DistrictName], [IsActive], [IsDeleted]) VALUES (2, N'Quận 2', 1, 0)
INSERT [dbo].[District] ([Id], [DistrictName], [IsActive], [IsDeleted]) VALUES (3, N'Quận 3', 1, 0)
INSERT [dbo].[Hotels] ([Id], [Name], [Email], [Phone], [Url], [Star_Rating_Id], [Location_Id], [IsDeleted]) VALUES (N'78ab2a84-3475-4780-92f2-14fc73df0b2c', N'Hotel 2 updated', N'xyz@gmail.com yupdated', N'123213213', NULL, 1, NULL, 0)
INSERT [dbo].[Hotels] ([Id], [Name], [Email], [Phone], [Url], [Star_Rating_Id], [Location_Id], [IsDeleted]) VALUES (N'8b8366c6-1f4b-4314-8168-447be6029082', N'abc', N'123', NULL, NULL, 1, NULL, 1)
INSERT [dbo].[Hotels] ([Id], [Name], [Email], [Phone], [Url], [Star_Rating_Id], [Location_Id], [IsDeleted]) VALUES (N'e2e278c5-69c5-4c5d-b9b9-610fb8a8db40', N'Hotel 1', N'abc@gmail.com', N'123456', NULL, 1, NULL, 0)
INSERT [dbo].[Ward] ([Id], [WardName], [IsActive], [IsDeleted]) VALUES (1, N'P.1', 1, 0)
INSERT [dbo].[Ward] ([Id], [WardName], [IsActive], [IsDeleted]) VALUES (2, N'P.2', 1, 0)
ALTER TABLE [dbo].[Booking_Status] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Booking_Status] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Booking_Status] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [RoomCount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Guests] ADD  CONSTRAINT [DF_Guests_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Guests] ADD  CONSTRAINT [DF_Guests_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Location] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Payment_Status] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Payment_Types] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Rate_Types] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Rates] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ReservationAgents] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Room_Booked] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Room_Status] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Room_Types] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Staff_Rooms] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Booking_Status] FOREIGN KEY([Status_Id])
REFERENCES [dbo].[Booking_Status] ([id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Booking_Status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Guests] FOREIGN KEY([Guest_Id])
REFERENCES [dbo].[Guests] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Guests]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Hotels] FOREIGN KEY([Hotel_Id])
REFERENCES [dbo].[Hotels] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Hotels]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Reservations] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[ReservationAgents] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Reservations]
GO
ALTER TABLE [dbo].[CityDistrictMapping]  WITH CHECK ADD  CONSTRAINT [FK_City_District_City] FOREIGN KEY([City_Id])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[CityDistrictMapping] CHECK CONSTRAINT [FK_City_District_City]
GO
ALTER TABLE [dbo].[CityDistrictMapping]  WITH CHECK ADD  CONSTRAINT [FK_City_District_District] FOREIGN KEY([District_Id])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[CityDistrictMapping] CHECK CONSTRAINT [FK_City_District_District]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [FK_Hotels_Location] FOREIGN KEY([Location_Id])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [FK_Hotels_Location]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [FK_Hotels_Ratings] FOREIGN KEY([Star_Rating_Id])
REFERENCES [dbo].[Star_Ratings] ([Id])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [FK_Hotels_Ratings]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_City] FOREIGN KEY([City_Id])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_City]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_District] FOREIGN KEY([District_Id])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_District]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Ward] FOREIGN KEY([Ward_Id])
REFERENCES [dbo].[Ward] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Ward]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Payment_Types] FOREIGN KEY([PaymentType_Id])
REFERENCES [dbo].[Payment_Types] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payment_Payment_Types]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Payment_Status] FOREIGN KEY([PaymentStatus_Id])
REFERENCES [dbo].[Payment_Status] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Payment_Status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Rooms] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Rooms]
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD  CONSTRAINT [FK_Rates_Rate_Types] FOREIGN KEY([RateType_Id])
REFERENCES [dbo].[Rate_Types] ([Id])
GO
ALTER TABLE [dbo].[Rates] CHECK CONSTRAINT [FK_Rates_Rate_Types]
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD  CONSTRAINT [FK_Rates_Rooms] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Rates] CHECK CONSTRAINT [FK_Rates_Rooms]
GO
ALTER TABLE [dbo].[Room_Booked]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Booked_Bookings] FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Bookings] ([Id])
GO
ALTER TABLE [dbo].[Room_Booked] CHECK CONSTRAINT [FK_Rooms_Booked_Bookings]
GO
ALTER TABLE [dbo].[Room_Booked]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Booked_Rooms] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Room_Booked] CHECK CONSTRAINT [FK_Rooms_Booked_Rooms]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rates_Room_Types] FOREIGN KEY([Room_Type_Id])
REFERENCES [dbo].[Room_Types] ([Id])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rates_Room_Types]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Room_Room_Status] FOREIGN KEY([Status_Id])
REFERENCES [dbo].[Room_Status] ([Id])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Room_Room_Status]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Hotels] FOREIGN KEY([Hotel_Id])
REFERENCES [dbo].[Hotels] ([Id])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Hotels]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Manager] FOREIGN KEY([Manager_Id])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Manager]
GO
ALTER TABLE [dbo].[Staff_Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Rooms_Room] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Staff_Rooms] CHECK CONSTRAINT [FK_Staff_Rooms_Room]
GO
USE [master]
GO
